
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: Arial, sans-serif;
  }
  

  header {
    background-color: #339966;
    padding: 20px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
  }
  h1 {
    margin-left:6px;
    font-size: 32px;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
  }
  

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
 
  .product img {
    height: 200px; 
    width: auto;
    margin-bottom: 10px;
    object-fit: cover;
    margin-left: 50px;
  }
  
    .product h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  
  .product p {
    text-align: center;
    margin-bottom: 10px;
  }
  
   .product .price {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    margin-left: 10px;
  }
  nav li {
    margin: 10px 10px;
  }
  nav a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  nav a:hover {
    color: #339966;
  }

  .product button {
    background-color: #339966;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    position:static;
    bottom: 0;
    width: 100%;
  }
  .logo img {
    display: flex;
    align-items: center;
    margin-left: 634px;
    width: 191px;
    height: 100px;
}